{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}
{% import "adminlte/widgets.html" as widgets with context %}

{% block navbar %}
    {% include "navbar_estandar.html" %}
{%- endblock navbar %}

{% block sidebar -%}
    {% include "sidebar_estandar.html" %}
{%- endblock sidebar %}

{% block content_header -%}
          <h1>
            Entrenar
            <small>Modelo</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-lightbulb-o"></i> Modelo AAS</a></li>
            <li class="active">Entrenar Modelo</li>
          </ol>
{%- endblock content_header %}
{% block content -%}

    <div class="row">
        <div class="col-xs-8 col-xs-offset-1">

        <h3>Resultado del entrenamiento:</h3>

        {%  if clf %}
            <fieldset>
                <b>Parámetros del Clasificador:</b>
                <p>{{ clf }}</p>
            </fieldset>
        {%  endif %}


        {%  if estadisticas %}
            <fieldset>
                <b>Reporte de Clasificación:</b>
                <table border="1">
                  {% for linea in estadisticas %}
                    <tr>
                      {% for columna in linea %}
                        <td  align="center" style="min-width:20%">{{columna}}</td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </table>
            </fieldset>
        {%  endif %}

        {%  if matriz_confusion != NULL %}
            <br>
            <fieldset>
                <b>Matriz de Confusión:</b>
                <table border="1" >
                    {% for linea in matriz_confusion %}
                        {% set rowloop = loop %}
                        {% if rowloop.index == 1 %}
                            <tr>
                                <th colspan="2" rowspan="2"></th>
                                <td colspan="6" align="center" >Predicción del Modelo</td>
                            </tr>
                            <tr>
                                <td align="center" style="min-width:12%">{{ sentimientos[0] }}</td>
                                <td align="center" style="min-width:12%">{{ sentimientos[1] }}</td>
                                <td align="center" style="min-width:12%">{{ sentimientos[2] }}</td>
                                <td align="center" style="min-width:12%">{{ sentimientos[3] }}</td>
                                <td align="center" style="min-width:12%">{{ sentimientos[4] }}</td>
                                <td align="center" style="min-width:12%">{{ sentimientos[5] }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            {% if rowloop.index == 1 %}
                                <td rowspan="6" align="center" >Datos Reales</td>
                            {% endif %}
                            {% for columna in linea %}
                                {% if loop.index == 1 %}
                                    <td align="center">{{ sentimientos[rowloop.index-1] }}</td>
                                {% endif %}
                                <td align="center" {% if rowloop.index == loop.index %} bgcolor="#D2D6DE" {% endif %}>{{columna}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </fieldset>
        {%  endif %}
        </div>
    </div>

{%- endblock content %}
