{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}
{% import "adminlte/widgets.html" as widgets with context %}

{% block navbar %}
    {% include "navbar_estandar.html" %}
{%- endblock navbar %}

{% block sidebar -%}
    {% include "sidebar_estandar.html" %}
{%- endblock sidebar %}

{% block content_header -%}
          <h1>
            Probar
            <small>Modelo</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-lightbulb-o"></i> Modelo AAS</a></li>
            <li class="active">Probar Modelo</li>
          </ol>
{%- endblock content_header %}
{% block content -%}

    <div class="row">
        <div class="col-xs-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Ingrese un mensaje para evaluar su sentimiento asociado</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="" method="post" name="probar-modelo">
              {{ form.hidden_tag() }}
              <div class="box-body">
                  <div class="form-group">
                        {{ form.mensaje(size=140, style="width: 100%") }}
                  </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Predecir</button>
              </div>
            </form>
          </div>
          <!-- /.box -->

        {%  if mensaje != "" %}

          <div class="box box-solid">
            <div class="box-body">
               <div class="callout callout-success">
                    <h4>¡Análisis de sentimiento realizado exitosamente!</h4>
               </div>
              <dl class="dl-horizontal">
                <dt>Mensaje:</dt>
                <dd>{{ mensaje }}</dd>
                <dt>Sentimiento:</dt>
                <dd>{{ resultado }}</dd>
              </dl>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        {%  endif %}
        </div>
    </div>

{%- endblock content %}
