{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}
{% import "adminlte/widgets.html" as widgets with context %}

{% block navbar %}
    {% include "navbar_estandar.html" %}
{%- endblock navbar %}

{% block sidebar -%}
    {% include "sidebar_estandar.html" %}
{%- endblock sidebar %}

{% block content_header -%}
          <h1>
            Usuarios
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-cogs"></i> Admin</a></li>
            <li class="active">Usuarios</li>
          </ol>
{%- endblock content_header %}
{% block content -%}

<div class="content-section">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          {% if usuarios %}
            <hr class="intro-divider">
            <div class="box">
              <!-- /.box-header -->
              <div class="box-body table-responsive">
                <table id="usuarios" class="table table-bordered table-striped" width="100%">
                  <thead>
                  <tr>
                      <th data-priority="2"> Username </th>
                      <th data-priority="5"> Nombre </th>
                      <th data-priority="4"> Apellido </th>
                      <th data-priority="3"> Email </th>
                      <th> Administrador </th>
                      <th> Activo </th>
                      <th data-priority="1"> Acciones </th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for usuario in usuarios %}
                    <tr>
                      <td> {{ usuario.username }} </td>
                      <td> {{ usuario.nombre }} </td>
                      <td> {{ usuario.apellido }} </td>
                      <td> {{ usuario.email }} </td>
                      <td>
                        {% if usuario.es_admin %}
                          <i class="fa fa-check-square-o"></i>
                        {% else %}
                          <i class="fa fa-ban"></i>
                        {% endif %}
                      </td>
                      <td>
                        {% if usuario.activo %}
                          <i class="fa fa-check-square-o"></i>
                        {% else %}
                          <i class="fa fa-ban"></i>
                        {% endif %}
                      </td>
                      <td>
                        <a href="{{ url_for('admin.editar_usuario', id=usuario.id) }}">
                          <i class="fa fa-pencil"></i> Editar
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
          <!-- /.box -->
            <div style="text-align: center">
          {% else %}
            <div style="text-align: center">
              <h3> No se han agregado usuarios. </h3>
              <hr class="intro-divider">
          {% endif %}
            <a href="{{ url_for('admin.crear_usuario') }}" class="btn btn-default btn-lg">
              <i class="fa fa-plus"></i>
              Nuevo Usuario
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%- endblock content %}

  {% block extra_styles %}
    <link href="{{ adminlte_find_resource('js/plugins/datatables/jquery.dataTables.css', cdn='local', use_minified=False) }}" rel="stylesheet" type="text/css" />
    <link href="{{ adminlte_find_resource('js/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css', cdn='local', use_minified=False) }}" rel="stylesheet" type="text/css" />
  {% endblock extra_styles %}


{% block extra_scripts %}

<!-- DataTables -->
<script src="{{ adminlte_find_resource('js/plugins/datatables/jquery.dataTables.js', cdn='local', use_minified=False) }}"></script>
<script src="{{ adminlte_find_resource('js/plugins/datatables/extensions/Responsive/js/dataTables.responsive.js', cdn='local', use_minified=False) }}"></script>

<script>
  $(document).ready(function(){
    var table = $('#usuarios').DataTable({
      responsive: true,
      language: {
        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
      }
    });

    table
    .column( '0:visible' )
    .order( 'asc' )
    .draw();
});
</script>

{% endblock extra_scripts %}