{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}
{% import "adminlte/widgets.html" as widgets with context %}

{% block navbar %}
    {% include "navbar_estandar.html" %}
{%- endblock navbar %}

{% block sidebar -%}
    {% include "sidebar_estandar.html" %}
{%- endblock sidebar %}

{% block content_header -%}
          <h1>
                {% if crear_usuario %}
                    Nuevo
                {% else %}
                    Editar
                {% endif %}
            <small>Usuario</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.list_usuarios') }}"><i class="fa fa-dashboard"></i> Usuarios</a></li>
            <li class="active">
                {% if crear_usuario %}
                    Nuevo
                {% else %}
                    Editar
                {% endif %}
            </li>
          </ol>
{%- endblock content_header %}
{% block content -%}

        <div class="row">
        <div class="col-xs-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="" method="post" name="probar-modelo">
              {{ form.hidden_tag() }}
              <div class="box-body">
                  <div class="form-group {% if form.username.errors %}has-error{% endif %} ">
                        {{ form.username.label }}
                        {% if crear_usuario %}
                            {{ form.username(class="form-control") }}
                        {% else %}
                            <br>
                            {{ form.username.data }}
                            {{ form.username(class="form-control hidden") }}
                        {% endif %}
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                <span class="help-block">*{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                  </div>
                  <div class="form-group {% if form.nombre.errors %}has-error{% endif %}">
                        {{ form.nombre.label }}{{ form.nombre(class="form-control") }}
                        {% if form.nombre.errors %}
                            {% for error in form.nombre.errors %}
                                <span class="help-block">*{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                  </div>
                  <div class="form-group {% if form.apellido.errors %}has-error{% endif %}">
                        {{ form.apellido.label }}{{ form.apellido(class="form-control") }}
                        {% if form.apellido.errors %}
                            {% for error in form.apellido.errors %}
                                <span class="help-block">*{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                  </div>
                  <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                        {{ form.email.label }}{{ form.email(class="form-control") }}
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <span class="help-block">*{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                  </div>
                  <div class="form-group {% if form.clave.errors %}has-error{% endif %}">
                        {{ form.clave.label }}{{ form.clave(class="form-control") }}
                        {% if form.clave.errors %}
                            {% for error in form.clave.errors %}
                                <span class="help-block">*{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                  </div>
                  <div class="form-group  {% if form.confirmar_clave.errors %}has-error{% endif %}">
                        {{ form.confirmar_clave.label }}{{ form.confirmar_clave(class="form-control") }}
                        {% if form.confirmar_clave.errors %}
                            {% for error in form.confirmar_clave.errors %}
                                <span class="help-block">*{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                  </div>

                  {% if current_user.es_admin %}
                      <div class="form-group">
                            {{ form.es_admin.label }}<br>{{ form.es_admin(class="form-checkbox") }}
                      </div>
                      {% if not crear_usuario %}
                          <div class="form-group">
                                {{ form.activo.label }}<br>{{ form.activo(class="form-checkbox") }}
                          </div>
                      {% endif %}
                  {% endif %}
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                  {{ form.submit(class="btn btn-primary") }}
              </div>
            </form>
          </div>

{%- endblock content %}



