{% extends "adminlte/base_without_nav.html" %}

{% block title %}Log In{% endblock %}
{% block description %}Log into your account!{% endblock %}
{% block bodytag %}login-page{% endblock %}

{% block body %}

  <div class="login-box">
    <div class="login-logo">
      <strong>GEO</strong>tendencias
    </div>
    <div class="login-box-body">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="row">
            <div class="col-1-1">
            {% for category, message in messages %}
              <div class="alert alert-{{category}}">
               {{ message|safe }}
              </div>
            {% endfor %}
           </div>
      </div>
      {% endif %}
    {% endwith %}

        <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
           <div class="row">
              <div class="col-xs-10 col-xs-offset-1">
                  <img style="max-width: 100%; padding: 5%" src="/static/img/logo.png" class="img-responsive" alt="Avatar" />
              </div>
           </div>

          <div class="input-group {% if form.usuario.errors %}has-error{% endif %}" style="width: 100%">
          <div class="input-group-addon">
            <i class="fa fa-user"></i>
          </div>
            {{ form.usuario(maxlength=30, style="width: 100%") }}
            {% if form.usuario.errors %}
                {% for error in form.usuario.errors %}
                    <span class="help-block">*{{ error }}</span>
                {% endfor %}
            {% endif %}
          </div>
            <br>
          <div class="input-group {% if form.clave.errors %}has-error{% endif %}" style="width: 100%">
          <div class="input-group-addon">
            <i class="fa fa-lock"></i>
          </div>
            {{ form.clave(maxlength=30, style="width: 100%") }}
            {% if form.clave.errors %}
                {% for error in form.clave.errors %}
                    <span class="help-block">*{{ error }}</span>
                {% endfor %}
            {% endif %}
          </div>
          <br>

          <div class="row">
              <div class="col-xs-4 col-xs-offset-8">
                  {{ form.submit(class="btn btn-primary btn-block btn-flat") }}
              </div>
          </div>


        </form>
    </div>
  </div>

{% endblock %}
