{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}
{% import "adminlte/widgets.html" as widgets with context %}

{% block navbar %}
    {% include "navbar_estandar.html" %}
{%- endblock navbar %}


{% block content -%}

<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div style="text-align: center">
            <h1> Error 500 </h1>
            <h3> El servidor encontró un error interno. </h3>
            <hr class="intro-divider">
            <a href="{{ url_for('dashboard.index') }}" class="btn btn-default btn-lg">
                <i class="fa fa-dashboard"></i>
                Ir al inicio
            </a>
        </div>
      </div>
    </div>
  </div>
</div>

{%- endblock content %}