{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}
{% import "adminlte/widgets.html" as widgets with context %}

{% block navbar %}
    {% include "navbar_estandar.html" %}
{%- endblock navbar %}

{% block sidebar -%}
    {% include "sidebar_estandar.html" %}
{%- endblock sidebar %}

{% block content_header -%}
          <h1>
            Dashboard
            <small>Revisa tus indicadores</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          </ol>
{%- endblock content_header %}
{% block content -%}

        {% if estadisticas_generales %}
          <h4 class="page-header">
            Estadísticas Generales
          </h4>
          <!-- Small boxes (Stat box) -->
          <div class="row">

            {{
              widgets.small_box(
                bgcolor="bg-aqua",
                header=estadisticas_generales['registradas'],
                body="Campañas Registradas",
                iconclass="ion ion-social-twitter",
                footerlink=url_for('campanas.list_campanas')
              )
            }}

            {{
              widgets.small_box(
                bgcolor="bg-green",
                header=estadisticas_generales['programada'],
                body="Campañas Programadas",
                iconclass="ion ion-calendar",
                footerlink=url_for('campanas.list_campanas')
              )
            }}

            {{
              widgets.small_box(
                bgcolor="bg-yellow",
                header=estadisticas_generales['en_curso'],
                body="Campañas en Curso",
                iconclass="ion ion-clock",
                footerlink=url_for('campanas.list_campanas')
              )
            }}

            {{
              widgets.small_box(
                bgcolor="bg-red",
                header=estadisticas_generales['finalizada'],
                body="Campañas Finalizadas",
                iconclass="ion ion-stats-bars",
                footerlink=url_for('campanas.list_campanas')
              )
            }}
          </div><!-- /.row -->
    {% endif %}

    {% if campanas_en_curso %}
          <h4 class="page-header">
            Campañas en Curso
          </h4>
          <!-- Info Box -->
          <div class="row">

          {% for key, campana in campanas_en_curso.iteritems() %}
            {{
              widgets.info_box(
                bgcolor="bg-yellow",
                header=campana.nombre,
                body="Restan " + campana.dias_restantes + " días",
                percentage=campana.porcentaje_avance,
                iconclass="ion ion-clock",
                footer=campana.porcentaje_avance + "% de avance",
                footerlink=url_for('campanas.resultados_campana', id=key)
              )
            }}

          {% endfor %}

          </div><!-- /.row -->
    {% endif %}

    {% if datos_radar != None %}
          <h4 class="page-header">
            AAS en Campañas
          </h4>

        <div class="row">

            {{
              widgets.box(
                class="box-danger",
                header="Totales Acumulados",
                id="radar-chart"
              )
            }}

            {{
              widgets.box(
                class="box-danger",
                header="Evolución de Emociones por Campaña (%)",
                id="line-chart"
              )
            }}

        </div>

    {% endif %}

{%- endblock content %}



{% block extra_scripts -%}
    {% if datos_radar != None %}

<!-- ChartJS 2.7.1 -->
<script src="{{ adminlte_find_resource('js/plugins/chartjs/Chart.js', cdn='local') }}"></script>

    {% endif %}
{%- endblock extra_scripts -%}



{% block graphs_scripts %}
 {% if datos_radar != None %}
    <script>
        //Más ejemplos acá: http://tobiasahlin.com/blog/chartjs-charts-to-get-you-started/

        var datos_radar={{ datos_radar|safe }};
        new Chart(document.getElementById("radar-chart"), {
            type: 'radar',
            data: {
              labels: ['Alegría', 'Ira', 'Miedo', 'Asco', 'Sorpresa', 'Tristeza'],
              datasets: [
                {
                  label: "% del Total",
                  fill: true,
                  lineTension: 0.3,
                  pointHoverRadius: 6,
                  backgroundColor: "rgba(179,181,198,0.6)",
                  borderColor: "rgba(179,181,198,1)",
                  pointBorderColor: "#386bba",
                  pointBackgroundColor: "rgba(179,181,198,1)",
                  data: datos_radar
                }
              ]
            },
            options: {
              title: {
                display: false,
                text: 'Campañas finalizadas hasta la fecha'
              },
              scale: {
                ticks: {
                  beginAtZero: true,
                  min: 0,
                }
              }
            }
        });

        var datos_line = {{datos_line|safe}};

        new Chart(document.getElementById("line-chart"), {
          type: 'line',
          data: {
            labels: datos_line['labels'],
            datasets: [{
                data: datos_line['emociones']['Alegria'],
                label: "Alegría",
                borderColor: "#76cd58",
                fill: false
              }, {
                data: datos_line['emociones']['Ira'],
                label: "Ira",
                borderColor: "#a2353f",
                fill: false
              }, {
                data: datos_line['emociones']['Miedo'],
                label: "Miedo",
                borderColor: "#386bba",
                fill: false
              }, {
                data: datos_line['emociones']['Asco'],
                label: "Asco",
                borderColor: "#9e7247",
                fill: false
              }, {
                data: datos_line['emociones']['Sorpresa'],
                label: "Sorpresa",
                borderColor: "#c08fc4",
                fill: false
              }, {
                data: datos_line['emociones']['Tristeza'],
                label: "Tristeza",
                borderColor: "#c4c1c4",
                fill: false
              }
            ]
          },
          options: {
            title: {
              display: false,
              text: 'Evolución de emociones'
            }
          }
        });

    </script>

    {% endif %}
{% endblock graphs_scripts %}

