{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}
{% import "adminlte/widgets.html" as widgets with context %}

{% block navbar %}
    {% include "navbar_estandar.html" %}
{%- endblock navbar %}

{% block sidebar -%}
    {% include "sidebar_estandar.html" %}
{%- endblock sidebar %}

{% block content_header -%}
          <h1>
            Análisis
            <small>en Tiempo Real</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-tasks"></i> Campañas</a></li>
            <li class="active">Análisis en Tiempo Real</li>
          </ol>
{%- endblock content_header %}
{% block content -%}
    {% if parametros %}

    <div class="col-lg-12 col-xs-12">
        <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Resultado Análisis</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>

            <div class="box-body">
                  <dl class="dl-horizontal">
                    <dt>Hashtag:</dt>
                    <dd>{%  if parametros.hashtag %}#{{ parametros.hashtag }}{%  else %}TODOS{%  endif %}</dd>
                    <dt>Screen Name:</dt>
                    <dd>{%  if parametros.screen_name %}@{{ parametros.screen_name }}{%  else %}TODOS{%  endif %}</dd>
                    <dt>Tweets creados desde:</dt>
                    <dd>{{ parametros.fecha_inicio }}</dd>
                    <dt>Tweets creados hasta:</dt>
                    <dd>{{ parametros.fecha_termino }}</dd>
                  </dl>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-xs-12">
        <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Se encontró la cantidad de {{ totales.suma_total }} Tweet(s):</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>
        <div class="box-body table-responsive">
        <table id="analisis" class="table table-bordered table-striped" width="100%">
            <thead>
                    <th></th>
                    <th>Alegría</th>
                    <th>Ira</th>
                    <th>Miedo</th>
                    <th>Asco</th>
                    <th>Sorpresa</th>
                    <th>Tristeza</th>
            </thead>
            <tbody>
                    {% for nombre_comuna,comuna in comunas.items() %}
                        <tr>
                            <td>{{ nombre_comuna }}</td>
                            <td>{% if comuna.sentimientos.alegria %}{{ (comuna.sentimientos.alegria * 100 / comuna.total)|round(1) }}%{% else %} 0 {%  endif %}</td>
                            <td>{% if comuna.sentimientos.ira %}{{ (comuna.sentimientos.ira * 100 / comuna.total)|round(1) }}%{% else %} 0 {%  endif %}</td>
                            <td>{% if comuna.sentimientos.miedo %}{{ (comuna.sentimientos.miedo * 100 / comuna.total)|round(1) }}%{% else %} 0 {%  endif %}</td>
                            <td>{% if comuna.sentimientos.asco %}{{ (comuna.sentimientos.asco * 100 / comuna.total)|round(1) }}%{% else %} 0 {%  endif %}</td>
                            <td>{% if comuna.sentimientos.sorpresa %}{{ (comuna.sentimientos.sorpresa * 100 / comuna.total)|round(1) }}%{% else %} 0 {%  endif %}</td>
                            <td>{% if comuna.sentimientos.tristeza %}{{ (comuna.sentimientos.tristeza * 100 / comuna.total)|round(1) }}%{% else %} 0 {%  endif %}</td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
        </div>
      </div>
    </div>


<div class="row">
        <div class="col-lg-offset-4 col-lg-4 col-xs-offset-4 col-xs-4">
            <a href="{{url_for('campanas.analisis')}}" class="btn btn-block btn-primary btn-lg">Volver</a>
        </div>
</div>

    {% else %}


    <div class="row">
        <div class="col-xs-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Ingrese los datos para efectuar la búsqueda</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="" method="post" name="analisis">
              {{ form.hidden_tag() }}
              <div class="box-body">
                <div class="input-group">
                    <span class="input-group-addon">#</span>
                    {{ form.hashtag(class="form-control") }}
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    {{ form.screen_name(class="form-control") }}
                </div>
                <br>
                <div class="input-group {% if form.rango_fechas.errors %}has-error{% endif %}">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    {{ form.rango_fechas(class="form-control daterange") }}
                    {% if form.rango_fechas.errors %}
                        {% for error in form.rango_fechas.errors %}
                            <span class="help-block">*{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="input-group hidden">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    {{ form.fecha_inicio(class="form-control") }}
                </div>
                <div class="input-group hidden">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    {{ form.fecha_termino(class="form-control") }}
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Buscar</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
        </div>
    </div>

    {%  endif %}
{%- endblock content %}


{% block extra_styles -%}
    <link href="{{ adminlte_find_resource('css/daterangepicker/daterangepicker-bs3.css', cdn='local', use_minified=False) }}" rel="stylesheet" type="text/css" />
    <link href="{{ adminlte_find_resource('js/plugins/datatables/jquery.dataTables.css', cdn='local', use_minified=False) }}" rel="stylesheet" type="text/css" />
    <link href="{{ adminlte_find_resource('js/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css', cdn='local', use_minified=False) }}" rel="stylesheet" type="text/css" />
{%- endblock extra_styles %}

{% block extra_scripts -%}

        <!-- DataTables -->
        <script src="{{ adminlte_find_resource('js/plugins/datatables/jquery.dataTables.js', cdn='local', use_minified=False) }}"></script>
        <script src="{{ adminlte_find_resource('js/plugins/datatables/extensions/Responsive/js/dataTables.responsive.js', cdn='local', use_minified=False) }}"></script>
        <script>
          $(document).ready(function(){

            var table = $('#analisis').DataTable({
                responsive: true,
                language: {
                  "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });

            table
            .draw();
        });
        </script>

    <script src="{{ adminlte_find_resource('js/plugins/daterangepicker/moment.js', cdn='local') }}"></script>
    <script src="{{ adminlte_find_resource('js/plugins/daterangepicker/daterangepicker.js', cdn='local', use_minified=False)  }}"></script>

    <script>
       $(function() {
            //Date range picker with time picker
            $(".daterange").daterangepicker({
                showDropdowns: true,
                autoUpdateInput: false,
                timePicker: true,
                timePickerIncrement: 1,
                timePicker24Hour: true,
                dateLimit: {
                    "days": 31
                },
                locale: {
                    format: 'DD/MM/YYYY h:mm A',
                    applyLabel: 'Aceptar',
                    cancelLabel: 'Cancelar',
                    fromLabel: 'Desde',
                    toLabel: 'Hasta',
                    daysOfWeek: [
                        "Do",
                        "Lu",
                        "Ma",
                        "Mi",
                        "Ju",
                        "Vi",
                        "Sa"
                    ],
                    monthNames: [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                    ],
                    firstDay: 1
                },
                minDate: "17/12/2017"
            });

            $('.daterange').on('apply.daterangepicker', function(ev, picker) {
                $(this).val('Desde el ' + picker.startDate.format('DD/MM/YYYY HH:mm') + ' hasta el ' + picker.endDate.format('DD/MM/YYYY HH:mm'));
                $('#fecha_inicio').val(picker.startDate.format('YYYY-MM-DD HH:mm:ss'));
                $('#fecha_termino').val(picker.endDate.format('YYYY-MM-DD HH:mm:ss'));

            });

            $('.daterange').on('cancel.daterangepicker', function(ev, picker) {
              $(this).val('');
            });
        });
    </script>

{%- endblock extra_scripts %}
