{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}
{% import "adminlte/widgets.html" as widgets with context %}

{% block navbar %}
    {% include "navbar_estandar.html" %}
{%- endblock navbar %}

{% block sidebar -%}
    {% include "sidebar_estandar.html" %}
{%- endblock sidebar %}

{% block content_header -%}
          <h1>
            Campañas
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-tasks"></i> Campañas</a></li>
            <li class="active">Gestionar Campañas</li>
          </ol>
{%- endblock content_header %}
{% block content -%}


<div class="content-section">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          {% if campanas %}
            <hr class="intro-divider">
            <div class="box">
             <div class="box-body table-responsive">
              <table id="campanas" class="table table-bordered table-striped" width="100%">
                <thead>
                  <tr>
                    <th> ID </th>
                    <th> Nombre </th>
                    <th> Descripción </th>
                    <th> Hashtag </th>
                    <th> Screen Name </th>
                    <th> Fecha Inicio </th>
                    <th> Fecha Término </th>
                    <th> Estado </th>
                    <th> Creado por </th>
                    <th data-priority="1"> Acciones </th>
                  </tr>
                </thead>
                <tbody>
                {% for campana in campanas %}
                  <tr>
                    <td> {{ campana.id }} </td>
                    <td> {{ campana.nombre }} </td>
                    <td> {{ campana.descripcion }} </td>
                    <td> {% if campana.hashtag %}{{ campana.hashtag }} {% else %} - {% endif %}</td>
                    <td> {% if campana.screen_name %}{{ campana.screen_name }} {% else %} - {% endif %}</td>
                    <td> {{ campana.fecha_inicio.strftime('%d/%m/%Y %H:%M') }} </td>
                    <td> {{ campana.fecha_termino.strftime('%d/%m/%Y %H:%M') }} </td>
                    <td> {{ campana.estado.upper().replace("_", " ") }} </td>
                    <td> {{ campana.user.username }} </td>
                    <td style="min-width:120px">
                      {% if campana.estado == 'finalizada'%}
                        <a href="{{ url_for('campanas.resultados_campana', id=campana.id) }}">
                          <i class="fa fa-info-circle"></i> Ver Resultados
                        </a>
                      {% elif campana.estado == 'procesando_resultados'  %}
                        <a href="{{ url_for('campanas.resultados_campana', id=campana.id) }}">
                          <i class="fa fa-info-circle"></i> Ver Avance
                        </a><br>
                      {% elif campana.estado == 'programada' or campana.estado == 'en_curso' %}
                        <a href="{{ url_for('campanas.resultados_campana', id=campana.id) }}">
                          <i class="fa fa-info-circle"></i> Ver Avance
                        </a><br>
                        <a href="{{ url_for('campanas.editar_campana', id=campana.id) }}">
                          <i class="fa fa-pencil"></i> Editar
                        </a><br>
                        <a href="{{ url_for('campanas.borrar_campana', id=campana.id) }}">
                          <i class="fa fa-trash"></i> Eliminar
                        </a>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
             </div>
            </div>
            <div style="text-align: center">
          {% else %}
            <div style="text-align: center">
              <h3> No se han agregado Campañas. </h3>
              <hr class="intro-divider">
          {% endif %}

          </div>
        </div>
      </div>
  </div>
  </div>
  </div>

{%- endblock content %}

  {% block extra_styles %}
    <link href="{{ adminlte_find_resource('js/plugins/datatables/jquery.dataTables.css', cdn='local', use_minified=False) }}" rel="stylesheet" type="text/css" />
    <link href="{{ adminlte_find_resource('js/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css', cdn='local', use_minified=False) }}" rel="stylesheet" type="text/css" />
  {% endblock extra_styles %}


{% block extra_scripts %}

<!-- DataTables -->
<script src="{{ adminlte_find_resource('js/plugins/datatables/jquery.dataTables.js', cdn='local', use_minified=False) }}"></script>
<script src="{{ adminlte_find_resource('js/plugins/datatables/extensions/Responsive/js/dataTables.responsive.js', cdn='local', use_minified=False) }}"></script>


<script>
  $(document).ready(function(){

    var table = $('#campanas').DataTable({
        responsive: true,
        language: {
          "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        }
    });

    table
    .column( '0:visible' )
    .order( 'desc' )
    .draw();
});
</script>

{% endblock extra_scripts %}