{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}
{% import "adminlte/widgets.html" as widgets with context %}

{% block navbar %}
    {% include "navbar_estandar.html" %}
{%- endblock navbar %}

{% block sidebar -%}
    {% include "sidebar_estandar.html" %}
{%- endblock sidebar %}

{% block content_header -%}
          <h1>
                {% if crear_campana %}
                    Nueva
                {% else %}
                    Editar
                {% endif %}
            <small>Campaña</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{{ url_for('campanas.list_campanas') }}"><i class="fa fa-tasks"></i> Campañas</a></li>
            <li class="active">
                {% if crear_campana %}
                    Nuevo
                {% else %}
                    Editar
                {% endif %}
            </li>
          </ol>
{%- endblock content_header %}
{% block content -%}

        <div class="row">
        <div class="col-xs-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <!-- /.box-header -->
            <!-- form start -->
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="" method="post" name="crear">
              {{ form.hidden_tag() }}
              <div class="box-body">

                  <div class="form-group {% if form.nombre.errors %}has-error{% endif %}">
                        {{ form.nombre(class="form-control") }}
                        {% if form.nombre.errors %}
                            {% for error in form.nombre.errors %}
                                <span class="help-block">*{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                  </div>
                  <div class="form-group {% if form.descripcion.errors %}has-error{% endif %}">
                        {{ form.descripcion(class="form-control") }}
                        {% if form.descripcion.errors %}
                            {% for error in form.descripcion.errors %}
                                <span class="help-block">*{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                  </div>

                <div class="input-group {% if form.hashtag.errors %}has-error{% endif %}">
                    <span class="input-group-addon">#</span>
                    {{ form.hashtag(class="form-control") }}
                    {% if form.hashtag.errors %}
                        {% for error in form.hashtag.errors %}
                            <span class="help-block">*{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <br>
                <div class="input-group {% if form.screen_name.errors %}has-error{% endif %}">
                    <span class="input-group-addon">@</span>
                    {{ form.screen_name(class="form-control") }}
                    {% if form.screen_name.errors %}
                        {% for error in form.screen_name.errors %}
                            <span class="help-block">*{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <br>
                <div class="input-group {% if form.rango_fechas.errors %}has-error{% endif %}">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    {{ form.rango_fechas(class="form-control daterange") }}
                    {% if form.rango_fechas.errors %}
                        {% for error in form.rango_fechas.errors %}
                            <span class="help-block">*{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="input-group hidden">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    {{ form.fecha_inicio(class="form-control") }}
                </div>
                <div class="input-group hidden">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    {{ form.fecha_termino(class="form-control") }}
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
          </div>
          </div>
          <!-- /.box -->
        </div>

{%- endblock content %}

{% block extra_styles -%}
    <link href="{{ adminlte_find_resource('css/daterangepicker/daterangepicker-bs3.css', cdn='local', use_minified=False) }}" rel="stylesheet" type="text/css" />
{%- endblock extra_styles %}

{% block extra_scripts -%}

    <script src="{{ adminlte_find_resource('js/plugins/daterangepicker/moment.js', cdn='local') }}"></script>
    <script src="{{ adminlte_find_resource('js/plugins/daterangepicker/daterangepicker.js', cdn='local', use_minified=False)  }}"></script>

    <script>
       $(function() {
            //Date range picker with time picker
            $(".daterange").daterangepicker({
                showDropdowns: true,
                autoUpdateInput: false,
                timePicker: true,
                timePickerIncrement: 1,
                timePicker24Hour: true,
                dateLimit: {
                    "days": 31
                },
                locale: {
                    format: 'DD/MM/YYYY h:mm A',
                    applyLabel: 'Aceptar',
                    cancelLabel: 'Cancelar',
                    fromLabel: 'Desde',
                    toLabel: 'Hasta',
                    daysOfWeek: [
                        "Do",
                        "Lu",
                        "Ma",
                        "Mi",
                        "Ju",
                        "Vi",
                        "Sa"
                    ],
                    monthNames: [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                    ],
                    firstDay: 1
                },
                minDate: "17/12/2017"
            });

            $('.daterange').on('apply.daterangepicker', function(ev, picker) {
                $(this).val('Desde el ' + picker.startDate.format('DD/MM/YYYY HH:mm') + ' hasta el ' + picker.endDate.format('DD/MM/YYYY HH:mm'));
                $('#fecha_inicio').val(picker.startDate.format('YYYY-MM-DD HH:mm:ss'));
                $('#fecha_termino').val(picker.endDate.format('YYYY-MM-DD HH:mm:ss'));

            });

            $('.daterange').on('cancel.daterangepicker', function(ev, picker) {
              $(this).val('');
            });
        });
    </script>

{%- endblock extra_scripts %}