{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}
{% import "adminlte/widgets.html" as widgets with context %}

{% block navbar %}
    {% include "navbar_estandar.html" %}
{%- endblock navbar %}

{% block sidebar -%}
    {% include "sidebar_estandar.html" %}
{%- endblock sidebar %}

{% block content_header -%}
          <h1>
            Resultado {% if campana.estado != 'finalizada' %} Parcial {% endif %} Campaña
              <small>"{{campana.nombre}}"</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-tasks"></i> Campañas</a></li>
            <li><a href="{{url_for('campanas.list_campanas')}}"> Gestionar Campañas</a></li>
            <li class="active">Resultado {% if campana.estado != 'finalizada' %} Parcial {% endif %} Campaña</li>

          </ol>
{%- endblock content_header %}
{% block content -%}

<div class="row">
    <div class="col-lg-12 col-xs-12">
        <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Datos Campaña</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>
        <div class="box-body">

              <dl class="dl-horizontal">
                <dt>Nombre:</dt>
                <dd>{{campana.nombre}}</dd>
                <dt>Descripción:</dt>
                <dd>{{campana.descripcion}}</dd>
                <dt>Hashtag:</dt>
                <dd>{{'#' + campana.hashtag if campana.hashtag != None else '-'}}</dd>
                <dt>Screen Name:</dt>
                <dd>{{'@' + campana.screen_name if campana.screen_name != None else '-'}}</dd>
                <dt>Fecha Inicio:</dt>
                <dd>{{campana.fecha_inicio.strftime('%d/%m/%Y %H:%M')}}</dd>
                <dt>Fecha Término:</dt>
                <dd>{{campana.fecha_termino.strftime('%d/%m/%Y %H:%M')}}</dd>
                <dt>Estado:</dt>
                <dd>{{campana.estado.upper().replace("_", " ")}}</dd>

              </dl>


        </div>
      </div>
    </div>

{% if campana.estado == 'finalizada' %}
    <div class="col-lg-12 col-xs-12">
            <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Mapas de Calor</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body">



                <div class="col-lg-12 col-xs-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                          <h3 class="box-title">Totalidad de Tweets</h3>

                          <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                          </div>
                        </div>
                        <div class="box-body">

                            <div align="center" style="font-size: 25px" class="margin-40">
                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_todos') }}" class="btn btn-app {% if total_tweets == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if total_tweets > 0 %}green{% else %}grey{% endif %}">{{ total_tweets }} tweets</span>
                                <i class="fa fa-globe"></i> Todos
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_alegria') }}" class="btn btn-app {% if datos_polar[0] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if datos_polar[0] > 0 %}green{% else %}grey{% endif %}">{{ datos_polar[0] }} tweets</span>
                                <i class="fa fa-smile-o"></i> Alegría
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_ira') }}" class="btn btn-app {% if datos_polar[1] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if datos_polar[1] > 0 %}green{% else %}grey{% endif %}">{{ datos_polar[1] }} tweets</span>
                                <i class="fa fa-exclamation"></i> Ira
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_miedo') }}" class="btn btn-app {% if datos_polar[2] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if datos_polar[2] > 0 %}green{% else %}grey{% endif %}">{{ datos_polar[2] }} tweets</span>
                                <i class="fa fa-heartbeat"></i> Miedo
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_asco') }}" class="btn btn-app {% if datos_polar[3] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if datos_polar[3] > 0 %}green{% else %}grey{% endif %}">{{ datos_polar[3] }} tweets</span>
                                <i class="fa fa-ban"></i> Asco
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_sorpresa') }}" class="btn btn-app {% if datos_polar[4] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if datos_polar[4] > 0 %}green{% else %}grey{% endif %}">{{ datos_polar[4] }} tweets</span>
                                <i class="fa fa-question"></i> Sorpresa
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_tristeza') }}" class="btn btn-app {% if datos_polar[5] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if datos_polar[5] > 0 %}green{% else %}grey{% endif %}">{{ datos_polar[5] }} tweets</span>
                                <i class="fa fa-frown-o"></i> Tristeza
                                </a>
                            </div>

                            </div>
                    </div>
                </div>


                <div class="col-lg-12 col-xs-12">
                    <div class="box box-default collapsed-box">
                        <div class="box-header with-border">
                          <h3 class="box-title">Tweets Masculinos</h3>

                          <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                          </div>
                        </div>
                        <div class="box-body">

                            <div align="center" style="font-size: 25px" class="margin-40">
                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_todos_male') }}" class="btn btn-app {% if total_tweets_male == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if total_tweets_male > 0 %}green{% else %}grey{% endif %}">{{ total_tweets_male }} tweets</span>
                                <i class="fa fa-globe"></i> Todos
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_alegria_male') }}" class="btn btn-app {% if totales_acumulados_male[0] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if totales_acumulados_male[0] > 0 %}green{% else %}grey{% endif %}">{{ totales_acumulados_male[0] }} tweets</span>
                                <i class="fa fa-smile-o"></i> Alegría
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_ira_male') }}" class="btn btn-app {% if totales_acumulados_male[1] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if totales_acumulados_male[1] > 0 %}green{% else %}grey{% endif %}">{{ totales_acumulados_male[1] }} tweets</span>
                                <i class="fa fa-exclamation"></i> Ira
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_miedo_male') }}" class="btn btn-app {% if totales_acumulados_male[2] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if totales_acumulados_male[2] > 0 %}green{% else %}grey{% endif %}">{{ totales_acumulados_male[2] }} tweets</span>
                                <i class="fa fa-heartbeat"></i> Miedo
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_asco_male') }}" class="btn btn-app {% if totales_acumulados_male[3] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if totales_acumulados_male[3] > 0 %}green{% else %}grey{% endif %}">{{ totales_acumulados_male[3] }} tweets</span>
                                <i class="fa fa-ban"></i> Asco
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_sorpresa_male') }}" class="btn btn-app {% if totales_acumulados_male[4] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if totales_acumulados_male[4] > 0 %}green{% else %}grey{% endif %}">{{ totales_acumulados_male[4] }} tweets</span>
                                <i class="fa fa-question"></i> Sorpresa
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_tristeza_male') }}" class="btn btn-app {% if totales_acumulados_male[5] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if totales_acumulados_male[5] > 0 %}green{% else %}grey{% endif %}">{{ totales_acumulados_male[5] }} tweets</span>
                                <i class="fa fa-frown-o"></i> Tristeza
                                </a>
                            </div>

                            </div>
                    </div>
                </div>



                <div class="col-lg-12 col-xs-12">
                    <div class="box box-default collapsed-box">
                        <div class="box-header with-border">
                          <h3 class="box-title">Tweets Femeninos</h3>

                          <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                          </div>
                        </div>
                        <div class="box-body">

                            <div align="center" style="font-size: 25px" class="margin-40">
                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_todos_female') }}" class="btn btn-app {% if total_tweets_female == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if total_tweets_female > 0 %}green{% else %}grey{% endif %}">{{ total_tweets_female }} tweets</span>
                                <i class="fa fa-globe"></i> Todos
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_alegria_female') }}" class="btn btn-app {% if totales_acumulados_female[0] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if totales_acumulados_female[0] > 0 %}green{% else %}grey{% endif %}">{{ totales_acumulados_female[0] }} tweets</span>
                                <i class="fa fa-smile-o"></i> Alegría
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_ira_female') }}" class="btn btn-app {% if totales_acumulados_female[1] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if totales_acumulados_female[1] > 0 %}green{% else %}grey{% endif %}">{{ totales_acumulados_female[1] }} tweets</span>
                                <i class="fa fa-exclamation"></i> Ira
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_miedo_female') }}" class="btn btn-app {% if totales_acumulados_female[2] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if totales_acumulados_female[2] > 0 %}green{% else %}grey{% endif %}">{{ totales_acumulados_female[2] }} tweets</span>
                                <i class="fa fa-heartbeat"></i> Miedo
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_asco_female') }}" class="btn btn-app {% if totales_acumulados_female[3] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if totales_acumulados_female[3] > 0 %}green{% else %}grey{% endif %}">{{ totales_acumulados_female[3] }} tweets</span>
                                <i class="fa fa-ban"></i> Asco
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_sorpresa_female') }}" class="btn btn-app {% if totales_acumulados_female[4] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if totales_acumulados_female[4] > 0 %}green{% else %}grey{% endif %}">{{ totales_acumulados_female[4] }} tweets</span>
                                <i class="fa fa-question"></i> Sorpresa
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_tristeza_female') }}" class="btn btn-app {% if totales_acumulados_female[5] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if totales_acumulados_female[5] > 0 %}green{% else %}grey{% endif %}">{{ totales_acumulados_female[5] }} tweets</span>
                                <i class="fa fa-frown-o"></i> Tristeza
                                </a>
                            </div>

                            </div>
                    </div>
                </div>


                <div class="col-lg-12 col-xs-12">
                    <div class="box box-default collapsed-box">
                        <div class="box-header with-border">
                          <h3 class="box-title">Tweets Género Indeterminado</h3>

                          <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                          </div>
                        </div>
                        <div class="box-body">

                            <div align="center" style="font-size: 25px" class="margin-40">
                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_todos_unknown') }}" class="btn btn-app {% if total_tweets_unknown == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if total_tweets_unknown > 0 %}green{% else %}grey{% endif %}">{{ total_tweets_unknown }} tweets</span>
                                <i class="fa fa-globe"></i> Todos
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_alegria_unknown') }}" class="btn btn-app {% if totales_acumulados_unknown[0] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if totales_acumulados_unknown[0] > 0 %}green{% else %}grey{% endif %}">{{ totales_acumulados_unknown[0] }} tweets</span>
                                <i class="fa fa-smile-o"></i> Alegría
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_ira_unknown') }}" class="btn btn-app {% if totales_acumulados_unknown[1] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if totales_acumulados_unknown[1] > 0 %}green{% else %}grey{% endif %}">{{ totales_acumulados_unknown[1] }} tweets</span>
                                <i class="fa fa-exclamation"></i> Ira
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_miedo_unknown') }}" class="btn btn-app {% if totales_acumulados_unknown[2] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if totales_acumulados_unknown[2] > 0 %}green{% else %}grey{% endif %}">{{ totales_acumulados_unknown[2] }} tweets</span>
                                <i class="fa fa-heartbeat"></i> Miedo
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_asco_unknown') }}" class="btn btn-app {% if totales_acumulados_unknown[3] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if totales_acumulados_unknown[3] > 0 %}green{% else %}grey{% endif %}">{{ totales_acumulados_unknown[3] }} tweets</span>
                                <i class="fa fa-ban"></i> Asco
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_sorpresa_unknown') }}" class="btn btn-app {% if totales_acumulados_unknown[4] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if totales_acumulados_unknown[4] > 0 %}green{% else %}grey{% endif %}">{{ totales_acumulados_unknown[4] }} tweets</span>
                                <i class="fa fa-question"></i> Sorpresa
                                </a>

                                <a target="_blank" href="{{ url_for('campanas.descarga_heatmap', nombre=id_campana + '_tristeza_unknown') }}" class="btn btn-app {% if totales_acumulados_unknown[5] == 0 %} disabled {% endif %}">
                                <span class="badge bg-{% if totales_acumulados_unknown[5] > 0 %}green{% else %}grey{% endif %}">{{ totales_acumulados_unknown[5] }} tweets</span>
                                <i class="fa fa-frown-o"></i> Tristeza
                                </a>
                            </div>

                            </div>
                    </div>
                </div>




           </div>
          </div>
    </div>

    {% if datos_polar != None and datos_piechart != None %}

            <div class="col-lg-12 col-xs-12">
                <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title">Totales considerando todos los géneros</h3>

                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        {{
                          widgets.box(
                            class="",
                            header="Total Tweets por Emoción (cantidad)",
                            id="polar-chart"
                          )
                        }}

                        {{
                          widgets.box(
                            class="",
                            header="Total Tweets por Emoción (%)",
                            id="pie-chart"
                          )
                        }}
                    </div>
                </div>
              </div>
            </div>
    {% endif %}

    {% if datos_piechart_male != None or datos_piechart_female != None or datos_piechart_unknown != None%}

            <div class="col-lg-12 col-xs-12">
                <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title">Totales Clasificados por Género</h3>

                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        {% if datos_piechart_male != None %}
                            {{
                              widgets.box(
                                class="",
                                header="Género Masculino: Total Tweets por Emoción (%)",
                                id="pie-chart-male"
                              )
                            }}
                        {% endif %}
                        {% if datos_piechart_female != None %}
                            {{
                              widgets.box(
                                class="",
                                header="Género Femenino: Total Tweets por Emoción (%)",
                                id="pie-chart-female"
                              )
                            }}
                        {% endif %}
                        {% if datos_piechart_unknown != None %}
                            {{
                              widgets.box(
                                class="",
                                header="Género Indeterminado: Total Tweets por Emoción (%)",
                                id="pie-chart-unknown"
                              )
                            }}
                        {% endif %}
                    </div>
                </div>
              </div>
            </div>
    {% endif %}


{% endif %}

    <div class="col-lg-12 col-xs-12">


        <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Emociones por Comuna</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>
        <div class="box-body table-responsive">
        <table id="resultados" class="table table-bordered table-striped" width="100%">
            <thead>
                    <th>Comuna</th>
                    <th>Alegría</th>
                    <th>Ira</th>
                    <th>Miedo</th>
                    <th>Asco</th>
                    <th>Sorpresa</th>
                    <th>Tristeza</th>
            </thead>
            <tbody>
                    {% for nombre_comuna,comuna in comunas.items() %}
                        <tr>
                            <td>{{ nombre_comuna }}</td>
                            <td>{% if comuna.sentimientos.alegria %}{{ (comuna.sentimientos.alegria * 100 / comuna.total)|round(1) }}%{% else %} 0 {%  endif %}</td>
                            <td>{% if comuna.sentimientos.ira %}{{ (comuna.sentimientos.ira * 100 / comuna.total)|round(1) }}%{% else %} 0 {%  endif %}</td>
                            <td>{% if comuna.sentimientos.miedo %}{{ (comuna.sentimientos.miedo * 100 / comuna.total)|round(1) }}%{% else %} 0 {%  endif %}</td>
                            <td>{% if comuna.sentimientos.asco %}{{ (comuna.sentimientos.asco * 100 / comuna.total)|round(1) }}%{% else %} 0 {%  endif %}</td>
                            <td>{% if comuna.sentimientos.sorpresa %}{{ (comuna.sentimientos.sorpresa * 100 / comuna.total)|round(1) }}%{% else %} 0 {%  endif %}</td>
                            <td>{% if comuna.sentimientos.tristeza %}{{ (comuna.sentimientos.tristeza * 100 / comuna.total)|round(1) }}%{% else %} 0 {%  endif %}</td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
        </div>
      </div>
    </div>






<div class="row">
        <div class="col-lg-offset-4 col-lg-4 col-xs-offset-4 col-xs-4">
            <a href="{{url_for('campanas.list_campanas')}}" class="btn btn-block btn-primary btn-lg">Volver</a>
        </div>
</div>

</div>
{%- endblock content %}

  {% block extra_styles %}
    <link href="{{ adminlte_find_resource('js/plugins/datatables/jquery.dataTables.css', cdn='local', use_minified=False) }}" rel="stylesheet" type="text/css" />
    <link href="{{ adminlte_find_resource('js/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css', cdn='local', use_minified=False) }}" rel="stylesheet" type="text/css" />
  {% endblock extra_styles %}

    {% block extra_scripts -%}
        <!-- DataTables -->
        <script src="{{ adminlte_find_resource('js/plugins/datatables/jquery.dataTables.js', cdn='local', use_minified=False) }}"></script>
        <script src="{{ adminlte_find_resource('js/plugins/datatables/extensions/Responsive/js/dataTables.responsive.js', cdn='local', use_minified=False) }}"></script>
        <script>
          $(document).ready(function(){

            var table = $('#resultados').DataTable({
                responsive: true,
                language: {
                  "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });

            table
            .draw();
        });
        </script>

        {% if datos_polar != False and datos_piechart != False  and campana.estado == 'finalizada' %}
            <!-- ChartJS 2.7.1 -->
            <script src="{{ adminlte_find_resource('js/plugins/chartjs/Chart.js', cdn='local') }}"></script>
        {% endif %}
    {%- endblock extra_scripts -%}

{% if campana.estado == 'finalizada' %}
    {% block graphs_scripts %}
      {% if datos_polar != False and datos_piechart != False  and campana.estado == 'finalizada' %}

        <script>
            //Más ejemplos acá: http://tobiasahlin.com/blog/chartjs-charts-to-get-you-started/

            var datos_radar={{ datos_polar|safe }};
            new Chart(document.getElementById("polar-chart"), {
                type: 'polarArea',
                data: {
                  labels: ['Alegría', 'Ira', 'Miedo', 'Asco', 'Sorpresa', 'Tristeza'],
                  datasets: [
                    {
                      label: "Volumen de Tweets por categoria",
                      backgroundColor: ["#76cd58", "#a2353f","#386bba","#9e7247","#c08fc4", "#c4c1c4"],
                      data: datos_radar
                    }
                  ]
                },
                options: {
                  title: {
                    display: false,
                    text: 'Campañas finalizadas hasta la fecha'
                  },
                  scale: {
                    ticks: {
                      beginAtZero: true,
                      min: 0,
                    }
                  }
                }
            });

            var datos_piechart={{ datos_piechart|safe }};
            new Chart(document.getElementById("pie-chart"), {
                type: 'pie',
                data: {
                  labels: ['% Alegría', '% Ira', '% Miedo', '% Asco', '% Sorpresa', '% Tristeza'],
                  datasets: [
                    {
                      label: "Volumen de Tweets por categoria",
                      backgroundColor: ["#76cd58", "#a2353f","#386bba","#9e7247","#c08fc4", "#c4c1c4"],
                      data: datos_piechart
                    }
                  ]
                },
                options: {
                  title: {
                    display: false,
                    text: 'Campañas finalizadas hasta la fecha'
                  }
                }
            });

        </script>

      {% endif %}

        {% if campana.estado == 'finalizada' and (datos_piechart_male != None or datos_piechart_female != None or datos_piechart_unknown != None) %}
            {% if datos_piechart_male != None %}
                <script>
                    //Más ejemplos acá: http://tobiasahlin.com/blog/chartjs-charts-to-get-you-started/
                    var datos_piechart_male={{ datos_piechart_male|safe }};
                    new Chart(document.getElementById("pie-chart-male"), {
                        type: 'pie',
                        data: {
                          labels: ['% Alegría', '% Ira', '% Miedo', '% Asco', '% Sorpresa', '% Tristeza'],
                          datasets: [
                            {
                              label: "Volumen de Tweets por categoria",
                              backgroundColor: ["#76cd58", "#a2353f","#386bba","#9e7247","#c08fc4", "#c4c1c4"],
                              data: datos_piechart_male
                            }
                          ]
                        },
                        options: {
                          title: {
                            display: false,
                            text: 'Campañas finalizadas hasta la fecha'
                          }
                        }
                    });
                </script>
            {% endif %}
            {% if datos_piechart_female != None %}
                <script>
                    var datos_piechart_female={{ datos_piechart_female|safe }};
                    new Chart(document.getElementById("pie-chart-female"), {
                        type: 'pie',
                        data: {
                          labels: ['% Alegría', '% Ira', '% Miedo', '% Asco', '% Sorpresa', '% Tristeza'],
                          datasets: [
                            {
                              label: "Volumen de Tweets por categoria",
                              backgroundColor: ["#76cd58", "#a2353f","#386bba","#9e7247","#c08fc4", "#c4c1c4"],
                              data: datos_piechart_female
                            }
                          ]
                        },
                        options: {
                          title: {
                            display: false,
                            text: 'Campañas finalizadas hasta la fecha'
                          }
                        }
                    });
                </script>
            {% endif %}
            {% if datos_piechart_unknown != None %}
                <script>
                    var datos_piechart_unknown={{ datos_piechart_unknown|safe }};
                    new Chart(document.getElementById("pie-chart-unknown"), {
                        type: 'pie',
                        data: {
                          labels: ['% Alegría', '% Ira', '% Miedo', '% Asco', '% Sorpresa', '% Tristeza'],
                          datasets: [
                            {
                              label: "Volumen de Tweets por categoria",
                              backgroundColor: ["#76cd58", "#a2353f","#386bba","#9e7247","#c08fc4", "#c4c1c4"],
                              data: datos_piechart_unknown
                            }
                          ]
                        },
                        options: {
                          title: {
                            display: false,
                            text: 'Campañas finalizadas hasta la fecha'
                          }
                        }
                    });
                </script>
            {% endif %}
        {% endif %}

    {% endblock graphs_scripts %}
{% endif %}

