{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}
{% import "adminlte/widgets.html" as widgets with context %}

{% block navbar %}
    {% include "navbar_estandar.html" %}
{%- endblock navbar %}

{% block sidebar -%}
    {% include "sidebar_estandar.html" %}
{%- endblock sidebar %}

{% block content_header -%}
          <h1>
            ElasticSearch
            <small>Últimos Tweets capturados</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-database"></i> ElasticSearch</a></li>
          </ol>
{%- endblock content_header %}
{% block content -%}

    {% if resultado_accion.item %}
    <ul>
        <li>
            {{resultado_accion.item}}
        </li>
    </ul>
    {% elif resultado_accion.total %}

        <h3>Últimos 50 Tweets registrados, de un total de {{resultado_accion.total}}:</h3>

        <ol>
            {% for elem in resultado_accion.listado %}
                <li>
                    <pre>{{elem|pprint}}</pre>
                </li>
            {% endfor %}
        </ol>

    {% endif %}

{%- endblock content %}
