{% macro small_box(bgcolor="bg-yellow", header="44", percentage=False, body="User Registrations", iconclass="ion ion-person-add", footerlink="#") %}

    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box {{bgcolor}}">
            <div class="inner">
                <h3>
                {{header}}{% if percentage %}<sup style="font-size: 20px">%</sup>{% endif %}
                </h3>

                <p>{{body}}</p>
            </div>
            <div class="icon">
                <i class="{{iconclass}}"></i>
            </div>
            <a href="{{footerlink}}" class="small-box-footer">
            Ver detalles <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

{% endmacro %}


{% macro info_box(bgcolor="bg-yellow", header="Alertas", body="Alertas", percentage="55", iconclass="ion ion-alert", footer="55% de aumento en 2 días", footerlink="#") %}

    <div class="col-lg-4 col-xs-6">
        <!-- info box -->
        <div class="info-box {{bgcolor}}">
            <span class="info-box-icon"><i class="{{iconclass}}"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">{{header}}</span>
                <span class="info-box-number">{{body}}</span>

                <div class="progress">
                    <div class="progress-bar" style="width: {{percentage}}%"></div>
                </div>
                <span class="progress-description">
                    {{footer}}
                </span>
            </div>
            {% if footerlink != "" %}
                <a href="{{footerlink}}" class="info-box-footer">
                Ver detalles <i class="fa fa-arrow-circle-right"></i>
                </a>
            {% endif %}
        </div>
    </div>

{% endmacro %}


{% macro box(class="box-danger", header="Gráfico", id="example-chart") %}

    <div class="col-lg-6 col-xs-12">
            <div class="box {{class}}">
            <div class="box-header with-border">
              <h3 class="box-title">{{header}}</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body">
                <canvas id="{{id}}" height="300"></canvas>
            </div>
          </div>
    </div>

{% endmacro %}