        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">

            {% if navbar_data %}
              <!-- Notifications: style can be found in dropdown.less -->
              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-warning"></i>
                  <span class="label label-warning">{{navbar_data['finalizadas']['cantidad']}}</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">Tienes {{navbar_data['finalizadas']['cantidad']}} mensaje(s) sin atender:</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">

                      {% for finalizada in navbar_data['finalizadas']['detalle'] %}
                        <li>
                          <a href="{{ url_for('campanas.resultados_campana', id=finalizada['id']) }}">
                            <i class="ion ion-checkmark-circled info"></i> Finalizada: "{{finalizada['nombre']}}"
                          </a>
                        </li>
                      {% endfor %}

                    </ul>
                  </li>
                </ul>
              </li>
              <!-- Tasks: style can be found in dropdown.less -->
              <li class="dropdown tasks-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-tasks"></i>
                  <span class="label label-danger">{{ navbar_data['en_curso']['cantidad'] }}</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">Tienes {{ navbar_data['en_curso']['cantidad'] }} Campaña(s) en curso:</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">

                      {% for key, en_curso in navbar_data['en_curso']['detalle'].iteritems() %}
                        <li><!-- Task item -->
                          <a href="{{ url_for('campanas.resultados_campana', id=key) }}">
                            <h3>
                              {{ en_curso.nombre }}
                              <small class="pull-right">{{ en_curso.porcentaje_avance }}%</small>
                            </h3>
                            <div class="progress xs">
                              <div class="progress-bar progress-bar-green" style="width: {{ en_curso.porcentaje_avance }}%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">{{ en_curso.porcentaje_avance }}% Completo</span>
                              </div>
                            </div>
                          </a>
                      </li><!-- end task item -->
                      {% endfor %}

                    </ul>
                    </li>
                    <li class="footer">
                    <a href="{{ url_for('campanas.list_campanas') }}">Ver todas las campañas</a>
                  </li>
                </ul>
              </li>
            {% endif %}
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i>
                <span>{{ current_user.full_name }} <i class="caret"></i></span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header bg-light-blue">
                  {% if current_user.es_admin %}
                    <img src="/static/img/admin.png" class="img-circle" alt="Avatar" />
                  {% else %}
                    <img src="/static/img/usuario.png" class="img-circle" alt="Avatar" />
                  {% endif %}

                  <i class="fa fa-address-book-o fa-5" aria-hidden="true"></i>
                  <p>
                    {{ current_user.nombre }} {{ current_user.apellido }}
                    <small>Usuario: {{ current_user.username }}</small>
                    <small>Email: {{ current_user.email }}</small>
                  </p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="{{ url_for('admin.editar_usuario', id=current_user.id) }}" class="btn btn-default btn-flat">Editar Perfil</a>
                  </div>
                  <div class="pull-right">
                    <a href="{{ url_for('auth.logout') }}" class="btn btn-default btn-flat">Cerrar Sesión</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>