        <!-- sidebar: style can be found in sidebar.less -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
          <li class="header">MENÚ</li>
            <li class="{{ menu.index.estado }}">
              <a href="{{ url_for('dashboard.index') }}">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
              </a>
            </li>

            <li class="treeview {{ menu.treeview_campanas.estado }}">
              <a href="#">
                <i class="fa fa-tasks"></i>
                <span>Campañas</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li class="{{ menu.treeview_campanas.crear.estado }}">
                  <a href="{{ url_for('campanas.crear_campana') }}">
                   <i class="fa fa-plus-square-o"></i>
                    Nueva Campaña
                  </a>
                </li>
               <li class="{{ menu.treeview_campanas.consultar.estado }}">
                  <a href="{{ url_for('campanas.list_campanas') }}">
                    <i class="fa fa-bar-chart-o"></i>
                    Gestionar Campañas
                  </a>
                </li>
                <li class="{{ menu.treeview_campanas.analisis.estado }}">
                  <a href="{{ url_for('campanas.analisis') }}">
                    <i class="fa fa-binoculars"></i>
                    Análisis en Tiempo Real
                  </a>
                </li>
              </ul>
            </li>
            {% if current_user.es_admin %}
                <li class="treeview {{ menu.treeview_elasticsearch.estado }}">
                <a href="#">
                  <i class="fa fa-database"></i>
                  <span>ElasticSearch</span>
                  <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li class="{{ menu.treeview_elasticsearch.datos_almacenados.estado }}">
                    <a href="{{ url_for('persistencia.datos_almacenados') }}/ultimos">
                      <i class="fa fa-table"></i>
                      Datos Almacenados
                    </a>
                  </li>
                </ul>
              </li>
            {% endif %}

            {% if current_user.es_admin %}
                <li class="treeview {{ menu.treeview_aas.estado }}">
                  <a href="#">
                    <i class="fa fa-lightbulb-o"></i>
                    <span>Modelo AAS</span>
                    <i class="fa fa-angle-left pull-right"></i>
                  </a>
                  <ul class="treeview-menu">
                    <li class="{{ menu.treeview_aas.entrenar_modelo.estado }}">
                      <a href="{{ url_for('aas.entrenar_modelo') }}">
                        <i class="fa fa-refresh"></i>
                        Entrenar Modelo
                      </a>
                    </li>
                    <li class="{{ menu.treeview_aas.probar_modelo.estado }}">
                      <a href="{{ url_for('aas.probar_modelo') }}">
                        <i class="fa fa-check-square-o"></i>
                        Probar Modelo
                      </a>
                    </li>
                  </ul>
                </li>
            {% endif %}

            {% if current_user.es_admin %}
                <li class="treeview {{ menu.treeview_admin.estado }}">
                  <a href="#">
                    <i class="fa fa-cogs"></i>
                    <span>Admin</span>
                    <i class="fa fa-angle-left pull-right"></i>
                  </a>
                  <ul class="treeview-menu">
                    <li class="{{ menu.treeview_admin.usuarios.estado }}">
                      <a href="{{ url_for('admin.list_usuarios') }}">
                        <i class="fa fa-users"></i>
                        Usuarios
                      </a>
                    </li>
                  </ul>
                  <ul class="treeview-menu">

                  </ul>

                </li>
            {% endif %}

          </ul>
        <!-- /.sidebar -->